h1, h2, h3, h4, h5 {
    color: #000000;
    font-weight: bold;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    clear: left
}

.logo h1 {
    margin: 0;
    padding: 11px 0 0 0;
    font-size: 30px;
    color: #CCCCCC
}

h1 {
    font-size: 180%
}

h2 {
    font-size: 160%
}

h3 {
    font-size: 140%
}

h4 {
    font-size: 120%
}

h5 {
    font-size: 100%
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    font-weight: bold;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}

input[type="text"], input[type="submit"], input[type="file"], select {
    border: 1px solid #CCCCCC;
}

.managerbox .dataTableRow:hover {
    background-color: #dcdcdc;
}

#ih-head {
    float: left;
    padding: 8px 5px;
}

#ih-search {
    float: right;
    padding: 5px;
}

#ih-admin {
    background-color: #F5F5F5;
    border: solid #CCCCCC;
    border-width: 1px 0;
}

#ih-p-buttons {
    padding-left: 5px;
}

#ih-p-buttons a img {
    margin-top: 5px;
}

#ih-p-info {
    border-collapse: collapse;
    margin: 5px;
}

#ih-p-info td {
    padding: 5px;
    border: 1px solid #444;
}

#ih-p-info td:first-child {
    font-weight: bold;
}

.ih-center {
    text-align: center;
}

.ih-right {
    text-align: right;
}

.ih-vtop {
    vertical-align: top;
}

.ih-vbot {
    vertical-align: bottom;
}

div.adminbox {
    padding: 10px;
}

div.aboutbox {
    width: 95%;
}

.page-links {
    display: inline;
    padding: 2px 5px;
}

.page-current {
    background: #CCCCCC;
}

.aboutbox p {
    text-align: justify;
}

fieldset {
    background: #f6f6f8;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0 0 1em 0;
    border: 1px solid #ccc;
}

legend {
    font-weight: bold;
    font-size: 1.4em;
    color: #1240b0;
}

div.managerbox {
    clear: both;
}

.preview-bb {
    border-bottom: 1px solid #CCCCCC;
}

.preview-br {
    border-right: 1px solid #CCCCCC;
}

.preview-check {
    border: 1px solid #000000;
    background: url(../images/checkpattern.gif);
}